<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Lockerit!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
		<link rel="stylesheet" href="/css/card.css">
		<link rel="stylesheet" href="/css/cotizarEnvio.css">
		<link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
			rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			let map, map2;
			function initMap() {
				const myLatLng = { lat: -19.30, lng: -99.04 };

				map = new google.maps.Map(document.getElementById("map"), {
					center: { lat: 19.393628348303253, lng: -99.14488340654229 },
					zoom: 11,
				});

				map2 = new google.maps.Map(document.getElementById("map2"), {
					center: { lat: 19.393628348303253, lng: -99.14488340654229 },
					zoom: 11,
				});

				/*Marcadores*/
				const lockerimage = src = "/images/lockers.png";
				new google.maps.Marker({ position: { lat: 19.343625265988365, lng: -99.24650584242741 }, map, title: "Alvaro Obregon", });
				new google.maps.Marker({ position: { lat: 19.432243219651717, lng: -99.14850109089078 }, map, title: "Cuauhtémoc", });
				new google.maps.Marker({ position: { lat: 19.500261745337223, lng: -99.12512973823159, }, map, title: "Gustavo A. Madero", });
				new google.maps.Marker({ position: { lat: 19.430553091619043, lng: -99.2025590499952 }, map, title: "Miguel Hidalgo" });

				new google.maps.Marker({ position: { lat: 19.343625265988365, lng: -99.24650584242741 }, map2, title: "Alvaro Obregon", });
				new google.maps.Marker({ position: { lat: 19.432243219651717, lng: -99.14850109089078 }, map2, title: "Cuauhtémoc", });
				new google.maps.Marker({ position: { lat: 19.500261745337223, lng: -99.12512973823159, }, map2, title: "Gustavo A. Madero", });
				new google.maps.Marker({ position: { lat: 19.430553091619043, lng: -99.2025590499952 }, map2, title: "Miguel Hidalgo" });
			}
			window.initMap = initMap;
		</script>
	</head>

	<body>
		<nav class="navbar fixed-top navbar-fixed-top navbar-dark navbar-expand-lg colorNav">
			<div class="container">
				<a class="navbar-brand" href="#"><img src="/images/logo-amarillo.svg" alt="" width="150"
						height="30"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
					aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav ms-auto" style="--bs-scroll-height: 100px;">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/">Inicio</a>
						</li>
						<li class="nav-item " class="Botones">
							<button type="submit" onclick="location.href='/iniciarSesion'"
								class="btn btn-outline-light  fw-semibold">Iniciar Sesión</button>
						</li>
						<li class="nav-item mx-2" style="margin-left: 20px;">
							<button type="submit" onclick="location.href='/RegistroCliente'"
								class="btn btn-outline-light  fw-semibold ">Registrate</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- partial:index.partial.html -->
		<div class=" d-flex justify-content-center align-items-center ">
			<form action="/cotizarEnvio" method="post">
				<div class="bg-white border border-dark p-5 rounded-5 text-dark shadow"
					style="width: 60rem; margin-top: 30px; position: relative; top: 70px;">
					<div class="card-body">
						<center><img src="/images/cotizar.png" width="200px" height="70px"></center>
						<h2 class="card-title text-center titulo">Cotizar envío</h2>
					</div>

					<!-- Seccion locker origen -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Locker de origen</h3>
					</div>
					<div class="input-group mt-2">
						<p class="small fw-light">*Campos obligatorios</p>
					</div>
					<select class="form-select form-select-lg mb-3 mx-sm" aria-label=".form-select-lg" name="origen" required>
						<option value="" selected>Seleccione su alcaldía</option>
						<% for (var i = 0; i < alcaldias.length; i++) { %>
							<option value="<%= alcaldias[i].id_Alcaldias%>"><%= alcaldias[i].nombre_alcaldia %></option>
						<% } %>
					</select>

					<div class="mapa_responsive" id="map"></div>

					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el locker de origen de su preferencia*</p>
					</div>
					<!-- <form>
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="lockerOrigen" value="" id="firstRadio" checked required>
            <label class="form-check-label stretched-link" for="firstRadio"></label>
            <div class="container row align-items-start">
              <div class="col">
                <p>Locker</p>
              </div>
              <div class="col-8">
                <p>Información del locker</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="lockerOrigen" value="" id="secondRadio">
            <label class="form-check-label stretched-link" for="secondRadio"></label>
            <div class="container row align-items-start">
              <div class="col">
                <p>Locker</p>
              </div>
              <div class="col-8">
                <p>Información del locker</p>
              </div>
            </div>
          </li>
          </li>
        </ul>
      </form> -->


					<!-- Seccion Locker Destino -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Locker de destino</h3>
					</div>
					<select class="form-select form-select-lg mb-3 mx-sm" aria-label=".form-select-lg" name="destino" required>
						<option value="" selected>Seleccione una alcaldía</option>
						<% for (var i = 0; i < alcaldias.length; i++) { %>
							<option value="<%= alcaldias[i].id_Alcaldias%>"><%= alcaldias[i].nombre_alcaldia %></option>
						<% } %>
					</select>

					<div class="mapa_responsive" id="map2"></div>

					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el locker de destino de su preferencia*</p>
					</div>
					<!-- <form>
        <ul class="list-group">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadioDestino"
              checked>
            <label class="form-check-label stretched-link" for="firstRadioDestino"></label>
            <div class="container row align-items-start">
              <div class="col">
                <p>Locker</p>
              </div>
              <div class="col-8">
                <p>Información del locker</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadioDestino">
            <label class="form-check-label stretched-link" for="secondRadioDestino"></label>
            <div class="container row align-items-start">
              <div class="col">
                <p>Locker</p>
              </div>
              <div class="col-8">
                <p>Información del locker</p>
              </div>
            </div>
          </li>
        </ul>
      </form> -->

					<!-- Seccion tamano de paquete -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Tamaño del paquete</h3>
					</div>
					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el tamaño de paquete de su preferencia*</p>
					</div>
					<div class="container">
						<div class="row mt-2">
							<div class="col-12">
								<form>
									<div class="form-group row">
										<div class="col-12">
											<div class="card-deck">
												<% for (var i = 0; i < tamanios.length; i++) { %>
													<div class="card mb-4">
														<div class="card-body" role="button">
															<h5 class="card-title"><input id="<%= tamanios[i].nombre_tamanio %>" type="radio"
																	name="paquete" value="<%= tamanios[i].id_tamanio %>" required>
																<label for="<%= tamanios[i].id_tamanio %>"><%= tamanios[i].nombre_tamanio %></label>
															</h5>
															<div class="imagen">
																<img class="img-top " width="100px" height="100px"
																	src="/images/icon-paquete<%= tamanios[i].nombre_tamanio %>.png" alt="Card image cap">
															</div>
															<p class="card-text">Con dimensiones de hasta:
																<br>Altura: <%= tamanios[i].alto %> cm
																<br>Ancho: <%= tamanios[i].ancho %> cm
																<br>Profundidad: <%= tamanios[i].profundidad %> cm
															</p>
														</div>
													</div>
												<% } %>
												
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Tipo de envío -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Tipo de envío</h3>
					</div>
					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el tipo de envío de su preferencia*</p>
					</div>
					<div class="container">
						<div class="row mt-2">
							<div class="col-12">

								<div class="form-group row">
									<div class="col-12">
										<div class="card-deck">
											<% for (var i = 0; i < tipoEnvio.length; i++) { %>
												<div id="<%= tipoEnvio[i].nombre_tipoEnvio %>-card" class="card mb-4">
													<div class="card-body" role="button">
														<h5 class="card-title"><input id="<%= tipoEnvio[i].nombre_tipoEnvio %>" type="radio" name="tipo"
																value="<%= tipoEnvio[i].id_tipoEnvio %>" required>
															<label for="<%= tipoEnvio[i].id_tipoEnvio %>"><%= tipoEnvio[i].nombre_tipoEnvio %></label>
														</h5>
														<div class="imagen">
															<img class="img-top " width="100px" height="100px"
																src="/images/<%= tipoEnvio[i].nombre_tipoEnvio %>.png" alt="Card image cap">
														</div>
													</div>
												</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<center><button class="btn btn-outline-danger btn-lg agregar" type="submit">Cotizar</a>
						</center>
					</div>
				</div>
			</form>

		</div>
		<br>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXd07XaRMWkkTYtv4_futTk_th_nqnwK4&callback=initMap"></script>
		<!-- cards -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
		<script src="/js/card.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>

	</body>

</html>