<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lockerit!</title>
    <link rel="stylesheet" href="/css/styleInicioSesion.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylePaqueteRepartidor.css">
    <link rel="stylesheet" href="/css/StyleDetallesPaquete.css">

</head>

<body>
    <%- include('./navRepartidor'); %>
    <div class="container">
        <div class="mb-3"></div>
        <div class="card" style="position: relative; top: 80px; border-color: rgb(33, 46, 70);">
            <div class="card-body p-5 pb-4">
                <center><img src="/images/detallesPaquete.png" width="80" height="80"></center>
                <h2 class="card-title text-center">Detalles del paquete</h2>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <h4 class="font-weight-bold">Número de envío: </h4>
                    </div>
                    <div class="col-md-3">
                        <p class="Border" ><%= envio.trk_shpg %></p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="font-weight-bold">    Tipo de envío:</h4>
                    </div>
                    <div class="col-md-3">
                        <p class="Border" > <%= envio.nm_shpgtype %> </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3 position-relative">
                        <h4 class="font-weight-bold">Tamaño del paquete: </h4>
                    </div>
                    <div class="col-md-3 position-relative">
                        <p class="Border " > <%= envio.name_size %> </p>
                    </div>
                </div>
                <div class=" mt-2">
                    <h4 class="font-weight-bold ">Locker de origen:</h4>
                    <center>
                        <div class="Border" style="width: 70%;">
                            <div class="container row align-items-start">
                                <p class="fw-bold"></p>
                                <div class="col">
                                    <p>Locker #</p>
                                </div>
                                <div class="col">
                                    <p> <%= lockerOrigen.id_locker %> </p>
                                </div>
                                <div class="col">
                                    <p>Dirección de locker</p>
                                </div>
                                <div class="col">
                                    <p> <%= lockerOrigen.addrs_locker %>  </p>
                                </div>
                            </div>
                        </div>
                    </center> 
                </div>

                <div class=" mt-4">
                    <h4 class="font-weight-bold ">Locker de destino:</h4>
                    <center>
                        <div class="Border" style="width: 70%;">
                            <div class="container row align-items-start">
                                <p class="fw-bold"></p>
                                <div class="col">
                                    <p>Locker #</p>
                                </div>
                                <div class="col">
                                    <p> <%= lockerDestino.id_locker %> </p>
                                </div>
                                <div class="col">
                                    <p>Dirección de locker</p>
                                </div>
                                <div class="col">
                                    <p> <%= lockerDestino.addrs_locker %>  </p>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="row mt-5">
                    <center>
                        <h4 class="font-weight-bold ">Código QR del envío</h4>
                        <img src="/images/Qr.png"
                    </center>
                </div>
                    <div class="row">
                        <div class="col-md-6 position-relative">
                            <center>
                                <button type="button" class="btn btn-primary boton-azul" data-bs-toggle="modal" data-bs-target="#ModalConfirmacion">Confirmar Recolección</button>
                            </center>
                        </div>
                        <div class="col-md-6 position-relative">
                            <center>
                                <button type="button" class="btn btn-danger boton-rojo" data-bs-toggle="modal" data-bs-target="#ModalReporte">Reportar un problema</button>
                            </center>
                        </div>
                    </div>
                </div>
                
                
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalConfirmacion" tabindex="-1" aria-labelledby="ModalConfirmacionLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="ModalConfirmacionLabel">¿Confirmar entrega?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Ha entregado el paquete con número de envió: #?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn boton text-white" data-bs-toggle="modal" data-bs-target="#modalListo">Confirmar</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modalListo" aria-hidden="true" aria-labelledby="modalListoLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalListoLabel">Paquete entregado</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Se ha marcado el paquete como entregado
            </div>
            <div class="modal-footer">
              <button class="btn boton text-white" data-bs-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal reporte-->
    <div class="modal fade" id="ModalReporte" tabindex="-1" aria-labelledby="ModalReporteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="ModalReporteLabel">Reportar un problema</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <center><b>¿Tiene un problema para recolectar el paquete: #?</b><br>
                Seleccione el problema con el paquete:</center>

                <form >
                    <div style="padding-left: 30px;">
                        <br><label><input type="radio" name="problema" value="malEstado"> Paquete en mal estado</label><br>
                  
                        <label><input type="radio" name="problema" value="sinRastreo"> Paquete sin guía de rastreo</label><br>
                  
                            <label><input type="radio" name="problema" value="vacio" checked> Locker vacío</label>
                    </div>
                  </form>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#modalGenerado">Enviar reporte</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modalGenerado" aria-hidden="true" aria-labelledby="modalGeneradoLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalGeneradoLabel">Reporte generado</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Se ha generado el reporte con éxito
            </div>
            <div class="modal-footer">
              <button class="btn boton text-white" data-bs-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
    </div>



</body>

</html>