<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <title>Lockerit!</title>
    <link rel="stylesheet" href="/css/styleInicioSesion.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estatusEnvio.css">
</head>

<body>
    <%- include('./navCliente'); %>
    <div class="container contenido">
        <div class="Border">
            <center><img src="/images/estatusEnvio.png" class="logo"></center>
            <h2 class="card-title text-center" style="margin-bottom: 20px;">Estado del Envío</h2>
            <!--Para ir cambiando el estado, se hicieron 6 imagenes para que sea de manera dinamico-->
            <center><img src="/images/estado<%=envio.id_shpgstat%>.png" class="estado" id="imgEstado"></center>
            <h3 class="card-title text-center" style="margin-top: 20px; margin-bottom: 20px;">En espera a que el cliente lo deposite en el locker de origen</h3>
            <div class="numero">
                <p>Número de envío: <input type="text" readonly value="<%= envio.trk_shpg %>" /></p>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="col">
                        <div>
                            <h4 class="card-title text-center">Locker de origen: <%= lockerOrigen.name_locker %></h4>
                            <br>
                            <div class="border rounded">
                                <p>Dirección del locker: <%= lockerOrigen.addrs_locker %> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h4 class="card-title text-center">Locker de destino <%= lockerDestino.name_locker %></h4>
						<br>
						<div class="border rounded">
							<p>Dirección del locker: <%= lockerDestino.addrs_locker %> </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <button type="button" class="btn btn-primary boton" style="border-color: rgb(33, 46, 70); background-color: rgb(33, 46, 70);">Descargar Guia</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" style="border-color: rgb(228, 31, 26); background-color: rgb(228, 31, 26);">Cancelar Envio</button>
                </div>
            </div>
        </div>
        
        

    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="/js/card.js"></script>
    <script src="/js/estatus.js"></script>

</body>
</html>