<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lockerit!</title>
    <link rel="stylesheet" href="/css/styleInicioSesion.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleMainMetodo.css">
</head>

<body>
    <%- include('./navCliente'); %>
    <div class="container">
        <div class="card" style="position: relative;
        top: 80px;
        border-color: rgb(33, 46, 70);">
            <div class="card-body">
                <center><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-credit-card" viewBox="0 0 16 16">
                        <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                    </svg></center>
                <h2 class="card-title text-center titulo">Métodos de pago</h2>

				<% if (metodosPago.length==0) { %>
					<div class="container row align-items-start">
						<p class="fw-bold">No hay métodos de pago registrados</p>
					</div>
				<% } else {%>
				<% metodosPago.forEach(function(metodo, index){ %>
					<div class="border rounded">
						<div class="container row align-items-start">
							<p class="fw-bold">Tarjeta <%=index+1%></p>
							<div class="col">
								<img src="/images/visa.png" class="bankImage">
							</div>
							<div class="col">
								<p><%=metodo.num_pmt%></p>
							</div>
							<div class="col">
								<p>Vence: <%=metodo.date_pmt%></p>
							</div>
							<div class="col">
								<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
								</svg><a class="color-eliminar" data-bs-toggle="modal" data-bs-target="#Eliminar" 
								onclick="document.getElementById('idDelete').value=<%=metodo.id_pmt%>"
								>Eliminar</a></p>
							</div>
						</div>
					</div>
				<% }); }%>
                

                <!-- <div class="border rounded">
                    <div class="container row align-items-start">
                        <p class="fw-bold">Tarjeta 2</p>
                        <div class="col">
                            <img src="/images/visa.png" class="bankImage">
                        </div>
                        <div class="col">
                            <p>XXXX XXXX 3614</p>
                        </div>
                        <div class="col">
                            <p>Vence: 10/2025</p>
                        </div>
                        <div class="col">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg><a class="color-eliminar" data-bs-toggle="modal" data-bs-target="#Eliminar">Eliminar</a></p>
                        </div>
                    </div>
                </div> -->

                <center><a href="/agregarmetodoPago" class="btn btn-outline-danger agregar">Agregar método de pago</a>
                </center>

                <!-- Modal1 -->
				<form action="/metodosPago" method="POST">
                <div class="modal fade" id="Eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EliminarLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="EliminarLabel">¿Desea eliminar este método de pago?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Esta acción no se puede deshacer.
						<input type="hidden" id="idDelete" name="id">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" >Eliminar</button>
                        </div>
                    </div>
                    </div>
                </div>
				</form>
                
                <!-- Modal2 -->
                <div class="modal fade" id="tarjetaElimminada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="tarjetaElimminadaLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tarjetaElimminadaLabel">Listo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Se ha eliminado la tarjeta con éxito.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
	<script src="/js/validation.js"></script>
    
</body>

</html>