<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<title>Lockerit!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
		<link rel="stylesheet" href="/css/card.css">
		<link rel="stylesheet" href="/css/realizarEnvio.css">
		<link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap"
			rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			let map, map2;
			function initMap() {
				console.log("initMap");
				const myLatLng = { lat: -19.30, lng: -99.04 };

				map = new google.maps.Map(document.getElementById("map"), {
					center: { lat: 19.393628348303253, lng: -99.14488340654229 },
					zoom: 11,
				});

				map2 = new google.maps.Map(document.getElementById("map2"), {
					center: { lat: 19.393628348303253, lng: -99.14488340654229 },
					zoom: 11,
				});

				/*Marcadores*/
				const lockerimage = src = "/images/lockers.png";
				new google.maps.Marker({ position: { lat: 19.343625265988365, lng: -99.24650584242741 }, map, title: "Alvaro Obregon", });
				new google.maps.Marker({ position: { lat: 19.432243219651717, lng: -99.14850109089078 }, map, title: "Cuauhtémoc", });
				new google.maps.Marker({ position: { lat: 19.500261745337223, lng: -99.12512973823159, }, map, title: "Gustavo A. Madero", });
				new google.maps.Marker({ position: { lat: 19.430553091619043, lng: -99.2025590499952 }, map, title: "Miguel Hidalgo" });

				new google.maps.Marker({ position: { lat: 19.343625265988365, lng: -99.24650584242741 }, map2, title: "Alvaro Obregon", });
				new google.maps.Marker({ position: { lat: 19.432243219651717, lng: -99.14850109089078 }, map2, title: "Cuauhtémoc", });
				new google.maps.Marker({ position: { lat: 19.500261745337223, lng: -99.12512973823159, }, map2, title: "Gustavo A. Madero", });
				new google.maps.Marker({ position: { lat: 19.430553091619043, lng: -99.2025590499952 }, map2, title: "Miguel Hidalgo" });
			}
			window.initMap = initMap;
		</script>
	</head>

	<body>
		<nav class="navbar fixed-top navbar-fixed-top navbar-dark navbar-expand-lg colorNav">
			<div class="container">
				<a class="navbar-brand" href="/"><img src="/images/logo-amarillo.svg" alt="" width="150"
						height="30"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
					aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav   ms-auto" style="--bs-scroll-height: 100px;">
						<li class="nav-item">
							<a class="nav-link " aria-current="page" href="/realizarEnvio">Envios</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle " href="" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Mi Cuenta
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/editarDatosUsuario">Mis Datos</a></li>
								<li><a class="dropdown-item" href="/metodosPago">Métodos de Pago</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<h1 class="nav-link " aria-current="page">|</h1>
						</li>
						<li class="nav-item">
							<h1 class="nav-link" aria-current="page">Bienvenido Usuario</h1>
						</li>
						<li class="nav-item " class="Botones">
							<button type="submit" onclick="location.href='/main'"
								class="btn btn-outline-light  fw-semibold">Cerrar Sesión</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- partial:index.partial.html -->
		<div class=" d-flex justify-content-center align-items-center ">
			<form action="/realizarEnvio" method="post" novalidate>
				<div class="bg-white border border-dark p-5 rounded-5 text-dark shadow"
					style="width: 60rem; margin-top: 30px; position: relative; top: 70px;">
					<div class="card-body">
						<center><img src="/images/cotizar.png" width="200px" height="70px"></center>
						<h2 class="card-title text-center titulo">Realizar envío</h2>
					</div>

					<!-- Seccion locker origen -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Locker de origen</h3>
					</div>
					<div class="input-group mt-2">
						<p class="small fw-light">*Campos obligatorios</p>
					</div>
					<select class="form-select form-select-lg mb-3 mx-sm" aria-label=".form-select-lg" name="origen"
						required>
						<option value="" selected disabled>Seleccione su alcaldía</option>
						<% for (var i=0; i < alcaldias.length; i++) { %>
							<option value="<%= alcaldias[i].id_cityhll%>">
								<%= alcaldias[i].name_cityhll %>
							</option>
						<% } %>
					</select>

					<div class="mapa_responsive" id="map"></div>

					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el locker de origen de su preferencia*</p>
					</div>
					<ul class="list-group">
						<% for (var i=0; i < lockers.length; i++) { %>
							<li class="list-group-item d-none" alcaldia-origen="<%= lockers[i].id_cityhll%>">
								<input class="form-check-input me-1" type="radio" name="lockerOrigen" value=""
									id="firstRadio" required>
								<label class="form-check-label stretched-link" for="firstRadio"></label>
								<div class="container row align-items-start">
									<div class="col">
										<p>
											<%= lockers[i].name_locker %>
										</p>
									</div>
									<div class="col-8">
										<p>
											<%= lockers[i].addrs_locker %>
										</p>
									</div>
								</div>
							</li>
						<% } %>
					</ul>
					<script>
						document.querySelector('[name=origen]').addEventListener('change', function () {
							var id = this.value;
							var lockers = document.querySelectorAll('[alcaldia-origen]');

							lockers.forEach((locker) => {
								console.log(locker.getAttribute('alcaldia-origen'), id);
								if (locker.getAttribute('alcaldia-origen') == id)
									locker.classList.remove('d-none');
								else
									locker.classList.add('d-none');
							})
						})
					</script>


					<!-- Seccion Locker Destino -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Locker de destino</h3>
					</div>
					<select class="form-select form-select-lg mb-3 mx-sm" aria-label=".form-select-lg" name="destino"
						required>
						<option value="" selected disabled>Seleccione una alcaldía</option>
						<% for (var i=0; i < alcaldias.length; i++) { %>
							<option value="<%= alcaldias[i].id_cityhll%>">
								<%= alcaldias[i].name_cityhll %>
							</option>
						<% } %>
					</select>

					<div class="mapa_responsive" id="map2"></div>

					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el locker de destino de su preferencia*</p>
					</div>
					<ul class="list-group">
						<% for (var i=0; i < lockers.length; i++) { %>
							<li class="list-group-item d-none" alcaldia-destino="<%= lockers[i].id_cityhll%>">
								<input class="form-check-input me-1" type="radio" name="lockerDestino" value=""
									id="firstRadio" required>
								<label class="form-check-label stretched-link" for="firstRadio"></label>
								<div class="container row align-items-start">
									<div class="col">
										<p>
											<%= lockers[i].name_locker %>
										</p>
									</div>
									<div class="col-8">
										<p>
											<%= lockers[i].addrs_locker %>
										</p>
									</div>
								</div>
							</li>
						<% } %>
					</ul>
					<script>
						document.querySelector('[name=destino]').addEventListener('change', function () {
							var id = this.value;
							var lockers = document.querySelectorAll('[alcaldia-destino]');

							lockers.forEach((locker) => {
								console.log(locker.getAttribute('alcaldia-destino'), id);
								if (locker.getAttribute('alcaldia-destino') == id)
									locker.classList.remove('d-none');
								else
									locker.classList.add('d-none');
							})
						})
					</script>

					<!-- Seccion tamano de paquete -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Tamaño del paquete</h3>
					</div>
					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el tamaño de paquete de su preferencia*</p>
					</div>
					<div class="container">
						<div class="row mt-2">
							<div class="col-12">
								<div class="form-group row">
									<div class="col-12">
										<div class="card-deck">
											<% for (var i=0; i < tamanios.length; i++) { %>
												<div class="card mb-4">
													<div class="card-body" role="button">
														<h5 class="card-title"><input
																id="<%= tamanios[i].name_size %>" type="radio"
																name="paquete" value="<%= tamanios[i].id_size %>"
																required>
															<label for="<%= tamanios[i].id_size %>">
																<%= tamanios[i].name_size %>
															</label>
														</h5>
														<div class="imagen">
															<img class="img-top " width="100px" height="100px"
																src="/images/icon-paquete<%= tamanios[i].name_size %>.png"
																alt="Card image cap">
														</div>
														<p class="card-text">Con dimensiones de hasta:
															<br>Altura: <%= tamanios[i].high_size %> cm
															<br>Ancho: <%= tamanios[i].width_size %> cm
															<br>Profundidad: <%= tamanios[i].depth_size %> cm
														</p>
													</div>
												</div>
											<% } %>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tipo de envío -->
					<div class=" mt-2">
						<h3 class="font-weight-bold ">Tipo de envío</h3>
					</div>
					<div class="input-group mt-2">
						<p class="small fw-light">Seleccione el tipo de envío de su preferencia*</p>
					</div>
					<div class="container">
						<div class="row mt-2">
							<div class="col-12">

								<div class="form-group row">
									<div class="col-12">
										<div class="card-deck">
											<% for (var i=0; i < tipoEnvio.length; i++) { %>
												<div id="<%= tipoEnvio[i].nm_shpgtype %>-card" class="card mb-4">
													<div class="card-body" role="button">
														<h5 class="card-title"><input
																id="<%= tipoEnvio[i].nm_shpgtype %>" type="radio"
																name="tipo" value="<%= tipoEnvio[i].id_shpgtype %>"
																required>
															<label for="<%= tipoEnvio[i].id_shpgtype %>">
																<%= tipoEnvio[i].nm_shpgtype %>
															</label>
														</h5>
														<div class="imagen">
															<img class="img-top " width="100px" height="100px"
																src="/images/<%= tipoEnvio[i].nm_shpgtype %>.png"
																alt="Card image cap">
														</div>
													</div>
												</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Seccion datos destinatario -->
					<div class=" mt-2">
						<h3 class="font-weight-bold mb-4">Datos del destinatario</h3>
					</div>
					<center>

						<div class="row">
							<div class="col-md-6">
								<label for="inputName" class="col-form-label">Nombre*</label>
							</div>
							<div class="col-md-5 ">
								<input type="text" id="inputName" name="inputName" class="form-control border"
									placeholder="Marco Torres" required>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-6">
								<label for="inputMail" class="col-form-label">Correo electrónico*</label>
							</div>
							<div class="col-md-5">
								<input type="email" id="inputMail" name="inputMail" class="form-control border"
									placeholder="marko274.matl@gmail.com" required>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-6">
								<label for="inputNumber" class="col-form-label">Número de teléfono*</label>
							</div>
							<div class="col-md-5 ">
								<input type="tel" id="inputNumber" name="inputNumber" class="form-control border"
									placeholder="5522951113" required>
							</div>
						</div>

					</center>
					<!-- Seccion Metodo de pago-->
					<div class=" mt-2">
						<h3 class="font-weight-bold mb-4">Método de pago</h3>
					</div>
					<div class="mt-2">
						<p class="small fw-light">Seleccione o agregue su método de pago*</p>
					</div>

					<ul class="list-group border">
						<% for (var i=0; i < metodosPago.length; i++) { %>
							<li class="list-group-item">
								<input class="form-check-input ml-2" type="radio" name="listGroupRadio"
									value=<%=metodosPago[i].id_pmt %> id=<%= metodosPago[i].id_pmt %>
									checked>
								<label class="form-check-label stretched-link"
									for="<%= metodosPago[i].id_pmt %>"></label>
								<div class="container row align-items-center">
									<p class="fw-bold">
										<%= metodosPago[i].num_pmt %>
									</p>
									<div class="col">
										<img src="/images/visa.png" class="bankImage">
									</div>
									<div class="col ">
										<p>
											<%= metodosPago[i].num_pmt %>
										</p>
									</div>
									<div class="col">
										<p>Vence: <%= metodosPago[i].date_pmt %></p>
									</div>
								</div>
							</li>
						<% } %>
					</ul>

					<center><a href="/agregarmetodoPago" class="btn btn-outline-danger agregar">Agregar nueva
							tarjeta</a>
					</center>


					<div class="mt-2">
						<p class="small fw-light">Introduzca su CVV/CVC de la tarjeta seleccionada*</p>
					</div>

					<div class="row">
						<center>
							<div class="col-6">
								<label for="inputCVV" class="col-form-label fw-bold">CVV/CVC*</label>
							</div>
						</center>
					</div>
					<div class="row">
						<center>
							<div class="col-6">
								<input type="tel" id="inputCVV" name="inputCVV" class="form-control border"
									placeholder="123" required>
							</div>
						</center>
					</div>

					<center><button type="submit" class="btn btn-outline-danger agregar">Realizar solicitud de envío</a>
					</center>

				</div>
			</form>

		</div>
		<br>
		<script
			src="https://maps.googleapis.com/maps/api/js?libraries=places,visualization&key=AIzaSyAEErsjNBLnxa3y-N2LFDpENunDEE8SDAs&v=weekly&callback=initMap"></script>
		<!-- cards -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
		<script src="/js/card.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>
		<script src="/js/validation.js"></script>

	</body>

</html>